.col-md-5{
    width: 100% !important;
  }
  
  .back-big-1, .back-big-2, .back-big-3, .back-big-4{
    background-position: center;
    background-size: cover;
    height: 400px !important;
    text-shadow: 5px 5px 30px #000;
  }
  
  .back-big-1{
    background-image: url(../img/19krugmanWeb-videoSixteenByNineJumbo1600.jpeg)  !important;
  }
  
  .back-big-2{
    background-image: url(../img/RM_Arsenale_31-Zheng-Bo_6041.webp) !important;
  }
  
  .back-big-3{
    background-image: url(../img/5c448fe62bdd7f18ce693af2.webp) !important;
  }
  
  .back-big-4{
    background-image: url(../img/chino-rocha-v8pTbZ88OXI-unsplash.jpeg) !important;
  }